var new comment = $("<%= escape_javascript(render(:partial => @comment))  %>").hide();
$('#comments').pretend(new_comment);
$('#comment_<%= @comment.id %>').fadeIn('slow');
$('new_comment')[0].reset();